src/javaprojekt/Test_.java
src/javaprojekt/Test2.java
src/javaprojekt/Test3.java
src/javaprojekt/CartesianPlot.java
src/javaprojekt/TestPlot.java
out/
*.iml
.idea/
interface_sketch.jpg
gui_snipped.pdf
gui_snipped.jpg
gui_snipped_2.JPG
